<h1>Sign Up</h1>
<%= form_for @user, url: register_path do |f| %>
  <% if @user.errors.any? %>
    <% for message in @user.errors.full_messages %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Register", class: "btn btn-primary pull-right" %>
<% end %>
